<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.0/dist/chart.umd.min.js"></script>
  <body>
    <!-- <img src="" alt="mana" id="mana" width="480" /> -->

    <div height="400" width="800"><canvas id="myChart"></canvas></div>

    <script src="/scripts/index.js"></script>
  </body>
</html>
